@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer components {
  .button {
    @apply p-2 inline-flex items-center justify-center text-white text-sm md:text-sm bg-bvnk_blue-light border border-bvnk_blue-light rounded-md 
    focus:outline-none focus:ring-2 focus:ring-bvnk_blue-dark
    active:bg-bvnk_blue-dark;
  }
  .quote-container {
    @apply w-full md:w-[460px] p-[25px] bg-white rounded-[10px] flex-col justify-start items-center gap-[25px] inline-flex;
  }
  .expired-container {
    @apply flex justify-center h-[307px] items-center w-full md:w-[460px] my-5 bg-white rounded-[10px];
  }
  .p-text {
    @apply text-bvnk_text-gray text-sm font-normal leading-snug;
  }
  .h-text {
    @apply text-center text-lg text-bvnk_text-dark md:text-xl font-medium leading-7;
  }
  .table-text {
    @apply grow shrink basis-0 text-bvnk_text-gray text-sm font-normal leading-snug;
  }
  .table-text-r {
    @apply text-bvnk_text-dark text-sm font-medium leading-snug;
  }
  .table-divider {
    @apply w-full h-px relative bg-slate-200;
  }
}
